body {
  font-family: "Herculanum", sans-serif;
  width: 100%;
}

#break {
  padding: 100px;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Heading */

.main-title {
  text-align: center;
  font: 1.5rem bold;
}

.main-sub-title {
  text-align: center;
  padding-bottom: 1%;
}

/* Visual Cards */

.basic-game-visual,
.sixth-city-visual {
  padding-left: 2%;
  padding-right: 2%;
}

#table-header th,
#player1 td,
#player2 td {
  width: 20vw;
  border: black solid 1px;
}

.card {
  width: 20vw;
  margin: 5px;
  background-color: white;
  text-align: center;
}

/* Classic Scorecard */

.basic-game-classic {
  margin: 1%;
  width: 95vw;
}

.classic-table-header th {
  font-size: 0.9rem;
}

.scorecard-section {
  width: 15vw;
  margin: 2%;
  padding: 2%;
  font-size: 1.2rem;
  text-align: center;
  border: black solid 1px;
  background: rgba(131, 131, 131, 0.123);
}

.game-calculation-row {
  background: #c0c0c0;
}

#check-box {
  border: black solid 1px;
  background: white;
  height: 21px;
}

.black-sixth-city-classic {
  margin-left: 1%;
  margin-bottom: 10%;
  width: 95vw;
}

/* Aligning background color to correspond to card colors */

.journey-cards-red {
  background: red;
  color: #ffffff;
}

.journey-cards-blue {
  background: blue;
  color: #ffffff;
}

.journey-cards-green {
  background: green;
  color: #ffffff;
}

.journey-cards-yellow {
  background: yellow;
}

.journey-cards-black {
  background: gray;
  color: #ffffff;
}

/* Leaving room for the fixed footer */

#bottom-journey-cards {
  margin-bottom: 17vh;
}

/* Footer */

.footer {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  text-align: center;
  z-index: 10;
}

.player-scorecard td {
  text-align: center;
  height: 48px;
}
